*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f0f0f0;
}
header{
    background: #333;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px #555;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
header nav ul li a:hover{
    text-decoration: underline;
}
header #logo{
    color: rgb(255, 255, 255);
}